*.iml
.gradle
/local.properties
# Ignore IDE metadata by default, but keep the shared copyright profile
# so all contributors get the same GPL header template.
/.idea/*
!/.idea/copyright/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
